<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Top</title>
<meta name="description" content="Hello">
<link th:href="@{/CSS/topPage.css}" rel="stylesheet">
</head>
<body>
	<div class="content">
		<form id="data_upload_form" enctype="multipart/form-data" method="post" action= "/">
			<p id="test">三井住友カード明細CSV</p>
			<input type="file" id="smbc_import_file" name="smbc_import_file">
			<p>Amazon明細CSV</p>
			<input type="file" id="amazon_import_file" name="amazon_import_file">
			<input type="submit" name="import_file" value="START">
		</form>
	</div>
	<div class="result">
		<table border="1">
		<caption>三井住友カード不一致</caption>
		<tr>
	        <td>日付</td>
	        <td>請求元</td>
	        <td>金額</td>
	    </tr>
	    <tr th:each="line:${smbcNotMatched}">
	        <td th:text=${line.billingDate}></td>
	        <td th:text=${line.biller}></td>
	        <td th:text=${line.amount}></td>
	    </tr>
	    </table>
	    <table border="1">
		<caption>Amazon不一致</caption>
		<tr>
	        <td>日付</td>
	        <td>商品</td>
	        <td>金額</td>
	    </tr>
	    <tr th:each="line:${amazonNotMatched}">
	        <td th:text=${line.billedDate}></td>
	        <td th:text=${line.itemName}></td>
	        <td th:text=${line.amount}></td>
	    </tr>
	    </table>
	    <table border="1">
		<caption>Amazon一致</caption>
		<tr>
	        <td>日付</td>
	        <td>商品</td>
	        <td>金額</td>
	    </tr>
	    <tr th:each="line:${matched}">
	        <td th:text=${line.billedDate}></td>
	        <td th:text=${line.itemName}></td>
	        <td th:text=${line.amount}></td>
	    </tr>
	    </table>
    </div>
</body>
</html>

